body {
  color: #434455;
  font-family: Roboto, sans-serif;
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
a {
  text-decoration: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
}
main {
  flex-grow: 1;
  background-color: #fff;
}
.section {
  padding: 120px 0;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 32px;
}
.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.header-inner {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.header-address {
  display: flex;
  gap: 40px;
}
.header-link {
  display: flex;
  gap: 24px;
  flex-grow: 1;
}

.heero-first {
  text-align: center;
  margin: 0 auto 48px;
  max-width: 496px;
  color: #fff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
.heero-third {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.heero-second {
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}
.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.logo {
  align-items: center;
  display: flex;
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.logo-studio {
  color: #2e2f42;
}
.nav-link {
  display: inline-block;
  padding: 24px 0;
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.nav-menu {
  display: flex;
  gap: 40px;
}
.nav-link:hover,
.nav-link:focus,
.nav-link:active {
  color: #404bbf;
  text-decoration: underline;
}
.address {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.address-menu {
  display: flex;
  gap: 40px;
}
.address-point {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.address-point:focus,
.address-point:hover {
  color: #404bbf;
}
.section-studio {
  padding: 188px 0;
  background: #2e2f42;
}
.section-contacts {
  background: #f4f4fd;
}
.team-card-background {
  background-color: #fff;
}

.button {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
  letter-spacing: 0.04em;
  background: #4d5ae5;
}
.button:hover,
.button:focus {
  background: #404bbf;
}
.footer {
  background: #2e2f42;
}
.logo-footer {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.logo-footer-white {
  color: #f4f4fd;
}
.text-footer {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
